@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.partnerwkh1 {
  position: absolute;
  width: 576px;
  height: 60px;
  left: 435px;
  top: 380px;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 70px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 5.70937px;
  color: #ffffff;
}

header {
  position: absolute;
  width: 1440px;
  height: 768px;
  left: calc(50% - 1440px / 2);
  top: 0px;
  background-image: url("images/bg.png");
}

.awmgfirmp1 {
  position: absolute;
  width: 386px;
  height: 22px;
  left: 527.5px;
  top: 455px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.firstimg {
  position: absolute;
  left: 47%;
}

.p2 {
  position: absolute;
  width: 117px;
  height: 15px;
  left: 661.5px;
  top: 682px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 3.7px;
  color: #ffffff;
}

.a1 {
  text-decoration: none;
  top: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 14px;
  color: #48555b;
  padding: 3px;
}
.a1:hover {
  color: #00a4e5;
}

nav {
  position: absolute;
  width: 1442px;
  height: 65px;
  left: calc(100% - 1442px / 2);
  top: 800px;
}

.secimg {
  position: absolute;
  width: 79.53px;
  height: 18px;
  left: -55%;
  top: 0px;
}

.oursth2 {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 45%;
  top: 95%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2.30625px;
  border-bottom: 3px solid #00a4e5;
  color: #000000;
}

.p3 {
  position: absolute;
  width: 405.08px;
  height: 81px;
  left: 20%;
  top: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.konstr {
  text-decoration: none;
  color: rgb(31, 136, 206);
}

.p4 {
  position: absolute;
  width: 405.08px;
  height: 81px;
  left: 20%;
  top: 1010px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 23px;
  align-items: center;
  color: #48555b;
}

.firstdiv {
  position: absolute;
  top: 960px;
  left: 60%;
  padding: 5px;
}

.p5 {
  position: relative;
  left: 61%;
  top: 950px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  display: inline-flex;
  padding: 10px;
  color: #ffffff;
}

.firsth3 {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 20%;
  top: 1250px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 2.30625px;
  color: #48555b;
  border-bottom: 2px solid #00a4e5;
}

.p6 {
  position: absolute;
  width: 405.4px;
  height: 38px;
  left: 55%;
  top: 1250px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #48555b;
}

.firstbtn {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 80%;
  top: 1250px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: #00a4e5;
  border: none;
}

.servicediv1 {
  position: absolute;
  width: 295px;
  height: 330px;
  left: 20%;
  top: 1350px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.426667px;
  color: #48555b;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.servicediv2 {
  position: absolute;
  width: 295px;
  height: 330px;
  left: 40%;
  top: 1350px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.426667px;
  color: #48555b;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.servicediv3 {
  position: absolute;
  width: 295px;
  height: 330px;
  left: 60%;
  top: 1350px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.426667px;
  color: #48555b;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.sec2 {
  position: absolute;
  width: 1440px;
  height: 499px;
  left: calc(50% - 1440px / 2);
  bottom: -1300px;
  background-image: url("images/bg (1).png");
}

.justh1 {
  position: absolute;
  width: 350px;
  height: 72px;
  left: 545px;
  top: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555b;
}

.getint {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 640px;
  top: 250px;
  background: #00a4e5;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.sec3 {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: calc(50% - 1440px / 2);
  bottom: -1399px;
  background-color: #000000;
}

.seconddh3 {
  position: absolute;
  left: 30%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

#inpemail {
  position: absolute;
  left: 50%;
  top: 27px;
  width: 150px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #979797;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.07px;
  color: #48555b;
}

#insub {
  position: absolute;
  width: 150px;
  height: 30px;
  left: 60.4%;
  top: 27px;
  color: #ffffff;
  background: #00a4e5;
  font-family: "Open Sans", sans-serif;
  border: none;
}

footer {
  position: absolute;
  width: 1440px;
  height: 240px;
  left: 230px;
  bottom: -1630px;
  background: #141a20;
}

.sech4 {
  position: absolute;
  width: 59px;
  height: 15px;
  left: 249px;
  top: 42px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.projlogo {
  position: absolute;
  width: 101.62px;
  height: 23px;
  left: 249px;
  top: 76px;
}

.p8 {
  position: absolute;
  width: 250px;
  height: 76px;
  left: 249px;
  top: 114px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.85px;
  color: #ffffff;
}
